/*colors*/
$white: #fff;
$black: #000;
$clr-primary: #134351;
$clr-secondary: #0a8e8a;
$clr-acent: #2ea3f2;
$clr-light-dark: #555958;
$clr-light-green: #17c0c3;
$clr-sec-bg: #f9f9f9;


/*media query*/
$large-desktops: "max-width: 1440px";
$desktops: "max-width: 1199px";
$tablets: "max-width: 991px";
$landscape-phones: "max-width: 767px";
$portrait-phones: "max-width: 575px";